<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAXs5J-uYq7Cw3ytDfRFedA9ELuDh2rAVY</string>
	<key>GCM_SENDER_ID</key>
	<string>1073232410548</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.happySoul.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>happysoul-b4f2e</string>
	<key>STORAGE_BUCKET</key>
	<string>happysoul-b4f2e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1073232410548:ios:1789959ae02b65d699e4e1</string>
</dict>
</plist>